@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  /*Para toda la pagina aplicamos estos parámetros por defecto*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --sizemonitor: 400px;
  font-family: "Space Mono", monospace;
}
body {
  background-color: hsl(185, 41%, 84%);
  font-size: 14px;
  font-weight: 400;
}

main {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

h1 {
  text-align: center;
  font-size: 24px;
  width: 200px;
  margin: auto;
  padding: 1em;
}

/*Eliminamos las flechitas del input number*/
/*Para navegadores Firefox*/
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  outline: none;
}

/*Para navegadores Chrome*/
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*Formato de la caja principal*/
.calc_main {
  position: relative;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  width: 840px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

/*Formato de las cajas de texto*/
div.text_input {
  padding: 10px 10px 5px 10px;
  margin: 0 0 20px 0;
}

.text_input {
  background-color: hsl(189, 41%, 97%);
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
}

.border_green {
  border-color: green;
}

.border_red {
  border-color: red;
}

.input_text {
  float: right;
  border-style: none;
  background-color: transparent;
  height: 20px;
  text-align: right;
  font-weight: 700;
  font-size: 20px;
  color: hsl(183, 100%, 15%);
  width: 90%;
}

/*Formato de la sección de botones Tip*/
.btn_Tip_main {
  border-style: none;
  padding: 0 0 20px 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.btn_Tip {
  background-color: hsl(183, 100%, 15%);
  padding: 10px;
  border-style: none;
  border-radius: 5px;
  width: calc(100% - 246px);
  color: white;
  font-weight: 700;
  margin: 5px 0;
  font-size: 26px;
  cursor: pointer;
}

.btn_Tip:hover {
  background-color: hsl(185, 41%, 56%);
}

.btn_Tip:active {
  background-color: hsl(189, 41%, 97%);
}

.btn_Tip_selected {
  background-color: hsl(185, 41%, 56%);
  padding: 10px;
  border-style: none;
  border-radius: 5px;
  width: calc(100% - 246px);
  color: white;
  font-weight: 700;
  margin: 5px 0;
  font-size: 20px;
  cursor: pointer;
}

.btn_Tip_custom {
  text-align: right;
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  width: calc(100% - 246px);
  font-weight: 700;
  margin: 5px 0;
  font-size: 26px;
}

.btn_Tip_custom:invalid {
  border-color: red;
}

/*Formato inicial de la caja de mensajes*/
.form_msg {
  float: right;
  color: red;
  text-align: right;
}

/*Tratamos de que las dos secciones principales tengan el mismo formato*/
.class_section {
  position: relative;
  width: var(--sizemonitor);
  padding: 0 20px;
  margin: 10px;
}

/*Colocamos la sección de introducción de datos a la izquierda flotando para que no se descentren los elementos*/
/*Con Flexbox es más facil, pero estoy empezando y es mejor para entender conceptos. ;D*/
#calc_amount {
  float: left;
}
/*Formato de la sección del monitor donde se muestran los datos*/
#calc_monitor {
  background-color: hsl(183, 100%, 15%);
  border-radius: 20px;
  float: right;
  padding: 10px 20px;
}

.monitor_title {
  padding: 20px;
  color: white;
  font-weight: 700;
}

.title_small {
  font-size: 10px;
  color: hsl(184, 14%, 56%);
}

.monitor_big {
  position: relative;
  float: right;
  top: -80px;
  font-size: 36px;
  color: hsl(172, 67%, 45%);
}
.monitor_big > span {
  display: block;
  position: relative;
  float: left;
  max-width: 240px;
  overflow: hidden;
  margin: 0 5px;
  font-size: 36px;
  font-weight: 700;
}

.btn_reset {
  width: 90%;
  margin: 20px;
  padding: 10px;
  background-color: hsl(183, 40%, 43%);
  border-style: none;
  color: hsl(183, 100%, 15%);
  border-radius: 5px;
  cursor: pointer;
}

.btn_reset:hover {
  background-color: hsl(183, 41%, 56%);
}

.btn_reset:active {
  background-color: hsl(183, 100%, 15%);
}

@media only screen and (max-width: 840px) {
  .calc_main {
    min-width: 370px;
    width: auto;
  }

  .class_section {
    width: 95%;
  }

  .btn_Tip {
    width: 31%;
  }
  .btn_Tip_selected {
    width: 31%;
  }
  .btn_Tip_custom {
    width: 31%;
  }
}
